Issue in Thai text conversion.

### Describe the bug

Hi Team,

I am using gem "aws-sdk-core" version "3.121.3". In this gem we have a method in SearHorse::Util uri_escape(string).
If I pass some Thai text to it it is converting those characters to random numbers and alphabets. 

### Expected Behavior

It should not convert those thai characters to random alphabets and numbers.

### Current Behavior

Converting thai characters to random alphabets and numbers separated by underscore


### Reproduction Steps


uri_escape("แอบมองเธอจะกอดเธอให้นิดนิด.pdf") --> this returns something like below mentioned text

_E0_B9_81_E0_B8_AD_E0_B8_9A_E0_B8_A1_E0_B8_AD_E0_B8_87_E0_B9_80_E0_B8_98_E0_B8_AD_E0_B8_88_E0_B8_B0_E0_B8_81_E0_B8_AD_E0_B8_94_E0_B9_80_E0_B8_98_E0_B8_AD_E0_B9_83_E0_B8_AB_E0_B9_89_E0_B8_99_E0_B8_B4_E0_B8_94_E0_B8_99_E0_B8_B4_E0_B8_94.pdf

### Possible Solution

_No response_

### Additional Information/Context

_No response_

### Gem name ('aws-sdk', 'aws-sdk-resources' or service gems like 'aws-sdk-s3') and its version

"aws-sdk-core", "3.121.3"

### Environment details (Version of Ruby, OS environment)

2.6.9, MacOS

The behavior of the `uri_escape` function follows (RFC 3986 Section 2.1 )[https://www.rfc-editor.org/rfc/rfc3986#section-2.1] which specifies that non-ASCII characters must be encoded.  Whats your use case?

`Seahorse::Util` is also API private and should not be depended upon. It is used internally.